.header{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;

    &__bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

	&__nav-line {
        width: 100%;
        min-height: 100px;
        display: flex;
        border: 1px solid rgba(161, 161, 161, 0.5);;
	}
    @media(max-width:1140px){
        .header{
            &__nav-line{
                @include adaptiv-value(min-height,100,65,1);
            }
        }
    }

	&__nav-line-container {
        flex: 1 0;
        justify-content: end;
	}

	&__nav-line-list {
        display: flex;
        align-items: center;
        height: 100%;

        a{
            color: #fff;
            font-weight: 500;
            font-size: 16px;
            line-height: 19.5px;
            margin: 0px 20px;
            display: block;
            display: flex;
            align-items: center;
            height: 100%;

            &:hover{
                border-bottom: 2px solid #FFFFFF;
            }
        }
	}

	&__content {
        flex: 1 0;
        display: flex;
	}

	&__content-container {
        flex: 1 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
	}

	&__content-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: #fff;
	}

	&__content-subtitle {
        font-size: 48px;
        font-weight: 800;
        line-height: 64px;
        color: #fff;
        margin: 20px 0px 50px 0px;
	}
    @media(max-width:1140px){
        .header{
            &__content-subtitle{
                @include adaptiv-value(font-size,48,24,1);
                @include adaptiv-value(line-height,64,36,1);
            }
        }
    }

	&__content-btn-block {
	}

	&__content-btn {
        
	}
}

.menu {

    
    &__body-bg{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;  
        background: transparent;
    }

	&__body {
	}

	&__icon {
        display: none;
	}
}

@media(max-width:837px){
    .menu{
        &__body-bg.burger-active{
            display: block;
        }

        &__body{
            position: fixed;
            top: 0;
            left: -100%;
            width: 50%;
            height: 100%;
            background: rgba(0, 0, 0, 0.95);
            transition: all 0.5s ease 0s;
            z-index: 2;

                &.burger-active{
                    left: 0;
                }
        }

        &__icon{
            z-index: 5;
            display: block;
            position: relative;
            width: 45px;
            height: 20px;
            cursor: pointer;

            span,
            &::before,
            &::after{
                position: absolute;
                left: 0;
                height: 10%;
                width: 100%;
                background: #fff;
                transition: all 0.3s ease 0s;
            }

            &::before,
            &::after{
                content: '';
            }

            &::before{
                top: 0;
            }

            &::after{
                bottom: 0;
            }

            span{
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }
        }
        &__icon.burger-active{
            &::before{
                top: 50%;
                transform: rotate(45deg) translate(0px, -50%);
            }
            span{
                transform: scale(0) translate(0px, -50%);
            }
            &::after{
                bottom: 50%;
                transform: rotate(-45deg) translate(0px, 50%);
            }
        }
    }

    .header{
        &__nav-line-container{
            align-items: center;
        }
        &__nav-line-list{
            flex-direction: column;
            justify-content: center;
            
                a{
                    height: auto;
                    margin: 20px 0px;
                    font-size: 18px;

                    &:hover{
                        text-decoration: underline;
                        border: none;
                    }
                }
        }
    }
}

@media(max-width:525px) {
    .menu{
        &__body{
            width: 100%;
        }
    }
}
